<div class="container">
  <div class="row">
    <div class="d-inline-flex p-2">
      <app-button
        [estilo]="'primary'"
        [icon]="'fa-plus'"
        [label]="'Novo'"
        class="me-2"
        routerLink="/animal-form"
      ></app-button>

      <app-button
        [estilo]="'white'"
        [icon]="'fa-pen-to-square'"
        [label]="'Editar'"
        class="me-2"
        (onClick)="editSelectedAnimal()"
      ></app-button>

      <app-button
        [estilo]="'white'"
        [icon]="'fa-tree'"
        [label]="'Árvore'"
        class="me-2"
      ></app-button>

      <app-button
        [estilo]="'danger'"
        [icon]="'fa-trash-can'"
        [label]="'Remover'"
        (onClick)="deleteAnimal()"
      ></app-button>
    </div>
  </div>

  <div class="row">
    <app-table
      [columns]="tableColumns"
      [data]="tableData"
      (animalSelected)="selectedAnimalId = $event"
    ></app-table>
  </div>
</div>
