$background: #efefef;
$primary: #40bfc4;
$white: white;
$color: #333333;
$danger: #e32445;
$light-grey: #d4d4d4;
$grey: #95989a;
$blue: #2c4491;
$shadow: #00000029;
$light: #e9e9e9;
$success: #7db17d;
