@import "_base.scss";

.table {
  .thead {
    border-bottom: 5px solid $light-grey;
  }

  .tr {
    background-color: $white;
    color: $color;

    &.selected {
      background-color: $light-grey;
    }
  }
}
